#container
{
    -fx-border-width: 10px;
    -fx-border-color: purple;
    -fx-border-style: solid;
    -fx-border-radius: 1px;
    -fx-background-radius: 10px;
}

.piece-label
{
    -fx-alignment: center;
}